source ~/.config/nvim/i2_base.vim

set visualbell
set noerrorbells

" below are actions on the current file
nnoremap <left> :action MethodUp<CR>
nnoremap <right> :action MethodDown<CR>

nmap g; :action KJumpAction.Char2<cr>
nmap g, :action KJumpAction.Char2<cr>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>

nnoremap gu :action FindUsages<CR>
nnoremap gt :action Scala.TypeInfo<CR>:action ExpressionTypeInfo<CR>

nnoremap gs :action GotoSuperMethod<CR>
nnoremap gr :action Refactorings.QuickListPopupAction<CR>

nnoremap gh :action JumpToLastChange<CR>
nnoremap gl :action JumpToNextChange<CR>

nnoremap gk :action Back<CR>
nnoremap gj :action Forward<CR>

noremap - :action SelectInProjectView<CR>
nnoremap <leader>tt :action JumpToLastWindow<CR>

nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

nnoremap gb :action ToggleBookmark<CR>

" not sure these belong on the g key
nnoremap gB :action ShowBookmarks<CR>
nnoremap gf :action GotoFile<CR>

nnoremap gy :action GotoAction<CR>
nnoremap gn :action ShowIntentionActions<CR>

" leader key mappings (suspect I don't type space with left hand)
nnoremap <lader>w :action RestoreDefaultLayout<CR>
nnoremap <leader>x :action ChooseRunConfiguration<CR>

nnoremap <leader>ff :action FindInPath<CR>

