source ~/.config/nvim/i2_base.vim

set visualbell
set noerrorbells

nnoremap <M-A-C-S-'> w

" below are actions on the current file
nnoremap <left> :action MethodUp<CR>
nnoremap <right> :action MethodDown<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>

nnoremap gu :action FindUsages<CR>
nnoremap gt :action Scala.TypeInfo<CR>:action ExpressionTypeInfo<CR>

nnoremap gr :action Refactorings.QuickListPopupAction<CR>
nnoremap gs :action GotoSuperMethod<CR>

nnoremap - :action SelectInProjectView<CR>

" not sure these belong on the g key
nnoremap gm :action Switcher<CR>
nnoremap gf :action GotoFile<CR>

nnoremap go :action GotoClass<CR>
nnoremap ga :action GotoAction<CR>

nnoremap gy :action GotoSymbol<CR>
nnoremap gb :action JumpToLastChange<CR>

" leader key mappings (suspect I don't type space with left hand)
nnoremap <leader>w :action RestoreDefaultLayout<CR>
nnoremap <leader>ff :action FindInPath<CR>

