source ~/.config/nvim/i2_base.vim

set visualbell
set noerrorbells

nnoremap <left> :action MethodUp<CR>
nnoremap <right> :action MethodDown<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>

nnoremap gu :action FindUsages<CR>
nnoremap gt :action Scala.TypeInfo<CR>:action ExpressionTypeInfo<CR>

nnoremap gb :action JumpToLastChange<CR>
nnoremap - :action SelectInProjectView<CR>

" not sure these belong, but I find it difficult to type some of the idea shortcuts
nnoremap gf :action GotoFile<CR>
nnoremap gr :action RecentFiles<CR>

nnoremap <leader>ff :action FindInPath<CR>
nnoremap gm :action Switcher<CR>

nnoremap ga :action GotoAction<CR>
nnoremap gn :action JumpToLastWindow<CR>

nnoremap gs :action GotoSuperMethod<CR>
nnoremap gw :action RestoreDefaultLayout<CR>

" nnoremap gh :action HideActiveWindow<CR>
" nnoremap gs :action FileStructurePopup<CR>
" nnoremap gs :action ActivateStructureToolWindow<CR>

